/PCTO/Tests/Test/nbproject/private/
/PCTO/Tests/Test/build/
/PCTO/Tests/Test/dist/
/Java/GUI/FirstGUI/nbproject/private/
/Java/GUI/FirstGUI/build/
/Data Structures/Linked Lists/nbproject/private/
/Data Structures/Linked Lists/build/
/Java/GUI/ListaDellaSpesa/nbproject/private/
/Java/GUI/ListaDellaSpesa/build/
