# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Magazzino.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Francesco\Desktop\Exercise\Java\Esercizi\Magazzino\.idea\.idea.Magazzino.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
